@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Rubik&display=swap');

:root {
  --darker: hsl(226, 43%, 10%);
  --dark: hsl(235, 46%, 20%);
  --medium: hsl(235, 45%, 61%);
  --light: hsl(236, 100%, 87%);
  --blue:  hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self-care: hsl(43, 84%, 65%);
}

body {
  background-color: var(--darker);
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.light-font {
  font-weight: 300;
  margin: 0;
}

.heavy-font {
  font-weight: 500;
  margin: 0;
}